<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>webapplogin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Action</display-name>
    <servlet-name>Action</servlet-name>
    <servlet-class>com.Action</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/Action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstFilter</display-name>
    <servlet-name>FirstFilter</servlet-name>
    <servlet-class>com.FirstFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstFilter</servlet-name>
    <url-pattern>/FirstFilter</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FirstFilter</display-name>
    <filter-name>FirstFilter</filter-name>
    <filter-class>com.FirstFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FirstFilter</filter-name>
    <url-pattern>/FirstFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>IndexAction</display-name>
    <servlet-name>IndexAction</servlet-name>
    <servlet-class>com.IndexAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexAction</servlet-name>
    <url-pattern>/IndexAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServlertController</display-name>
    <servlet-name>ServlertController</servlet-name>
    <servlet-class>com.ServlertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServlertController</servlet-name>
    <url-pattern>/ServlertController</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.SessionListener</listener-class>
  </listener>
</web-app>